/* Form.css */
.form-container {
  background-image: url('./srk.jpg'); /* Replace with your image file path */
  background-size: cover;
  background-position: cover;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

